*{
    margin:0;
    padding:0;
}

.container{
    background-color: aqua;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code{
    border: solid black 2px;
     width: 50%;
     height: 200px;

}